<div class="blog">
  <div class="word_wrap">
    <h2 class="text-left">
      <%= @blog.title %>
    </h2>
    <%= raw @blog.content %>
  </div>
  <footer class="text-right">
    <p>
      <i class="icon-user"></i>
      <%= @blog.user.name %>&nbsp;
      <i class="icon-time"></i>
      <%= @blog.created_at.strftime("%Y-%m-%d %H:%M:%S") %>&nbsp;
      <i class="icon-edit"></i>
      <%= @blog.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>&nbsp;
    </p>
  </footer>
  <ul class="replies">
    <li>
      <h3><%= @blog.replies_count %>条评论</h3>
    </li>
    <% if @blog.replies.exists %>
      <%= render @blog.replies.select(&:persisted?) %>
    <% end %>
  </ul>
  <%= render 'replies/form' %>
</div>

