<li class="clearfix">
  <%= gravatar_for(comment.user) %>
  <div class="content">
    <i class="icon-user"></i>
    <strong><%= comment.user.name %></strong>
    <i class="icon-time"></i>
    <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <br />
    <%= raw comment.content %>
    <% if signed_in? and current_user.admin? or current_user?(comment.user) %>
      | <%= link_to "编辑", edit_blog_comment_path(@blog, comment) %>
      | <%= link_to "删除", [@blog, comment], method: :delete, data: { confirm: "你确定？" } %>
    <% end %>
  </div>
</li>