<%= javascript_include_tag "kindeditor/kindeditor" %>
<%= javascript_include_tag "kindeditor/zh_CN" %>
<% provide(:title, '回复') %>
<h1>回复</h1>

<div class="row">
  <div class="span12 offset3">
    <%= form_for [@blog, @reply] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content %>
      <%= f.text_area :content, size: "500x15" %>

      <%= f.submit "提交", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<script>
$(function() {
  var editor = KindEditor.create('textarea[id="reply_content"]');
});
</script>