<li class="clearfix">
  <%= gravatar_for(reply.user) %>
  <div class="content">
    <i class="icon-user"></i>
    <strong><%= reply.user.name %></strong>
    <i class="icon-time"></i>
    <%= reply.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <br />
    <%= raw reply.content %>
    <% if current_user.admin? or !current_user?(reply.user) %>
      | <%= link_to "编辑", edit_blog_reply_path(@blog, reply) %>
      | <%= link_to "删除", [@blog, reply], method: :delete, data: { confirm: "你确定？" } %>
    <% end %>
  </div>
</li>