<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= gravatar_for_admin %> 
      <%= link_to "泰的博客", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "主页", root_path %></li>
          <% if signed_in? %>
          <li><%= link_to "写博客", new_blog_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                账户 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "编辑", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "登出", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "登录", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>